**/__pycache__/**
*/__pycache__/
**/wenjun_data/**

neo4j
!neo4j/conf/neo4j.conf
rnacentral*

**/static/**

**/build/**
**/temp/**
**/logs/**

**/*.mp4
*.mp4

**/wenjun_data**

**.pyc

**/*.ply
*.ply

*.gz
*.sqlite
**taxa.sqlite**

**/PoissonRecon
volume/**
**/volume/


**.mmcif
**/*.mmcif

**/__hmm_cache/**

*.hmm
**/f_**


*.cif
**/*.cif
**/volume
volume/*

**/classification_reports/**

*.env
**/*.env

**/*venv*/**
**/*venv*
*venv*

**/*.log
*.log

**/*.pickle
*.pickle

**/*.key
*.gpg.key

neotechnology.gpg.key

RIBETL_DATA

**/*.npy
*/*.npy
**/artifacts/*.png



# Ignore the HMM cache directory and its contents
**/cache_hmm/

# Ignore any files or directories starting with ncbi_taxonomy (e.g., .sqlite, .pkl)
**/ncbi_taxonomy*

# Ignore the muscle binary/folder
**/muscle3.8.1


NPET2/**
