
**/__pycache__/**
*/__pycache__/

neo4j
!neo4j/conf/neo4j.conf
rnacentral*

**/logs/**

**/*.mp4
*.mp4


**/*.ply
*.ply

*.gz
*.sqlite

ribctl/assets/PoissonRecon
**/PoissonRecon
volume/**
**/volume/


**/*.hmm
*.hmm
**/f_**


*.cif
**/*.cif
**/volume
volume/*

**/classification_reports/**

*.env
**/*.env

**/*venv*/**
**/*venv*
*venv*

**/*.log
*.log

**/*.pickle
*.pickle

**/*.key
*.gpg.key

neotechnology.gpg.key