volume/**
volume/
**/volume/

**/*.hmm
*.hmm

*.cif
**/*.cif
**/volume
volume/*

**/node_modules
node_modules/**
node_modules

*.env
**/*.env

__pycache__
__pycache__/**
**/__pycache__/


**/local_venv
local_venv/**
local_venv

**/*venv/**
**/*venv
*venv



**/*.log
*.log

**/*.pickle
*.pickle



